@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&display=swap');

::-webkit-scrollbar {
    background-color: var(--primary);
    width: 0.8vw;
}

::-webkit-scrollbar-thumb {
    background-color: var(--ternary);
    border-radius: 1rem;
}

* {
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

input[type=checkbox] {
    display: none;
}

:root {
    --primary: #1E1E28;
    --secondary: #20202A;
    --ternary: #2B2B35;
    --bright: #3c3c51;
    --dark: #191923;
    --font: #C9CAD0;
}

/* General settings */

html {
    scroll-behavior: smooth;
    color: var(--font);
}

body {
    margin: 0;
    background-color: var(--primary);
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    font-family: Roboto;
}

body>div {
    padding: 0.9rem;
    display: flex;
    overflow-y: scroll;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 1rem;
}

span {
    font-size: 0.75rem;
    opacity: 0.8;
}

footer {
    padding: 1.5rem;
    background-color: var(--dark);
}

a {
    color: var(--font);
}

h3 {
    margin: 0;
}

.gradientFont {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(125deg, var(--gold-primary) 0%, var(--gold-font) 100%);
}

.dotsBackground {
    background-image: radial-gradient(circle, var(--bright) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 0.83rem 0.83rem;
    background-repeat: repeat;
}